# First steps
* PySpark Dataframe
* Reading The Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns

# Check assumptions

In [1]:
import pyspark

In [2]:
pyspark.__version__

'3.5.1'

In [3]:
import findspark
findspark.init()

Se der erro:

```Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.net.BindException: Cannot assign requested address: bind: Service 'sparkDriver' failed after 16 retries (on a random free port)! Consider explicitly setting the appropriate binding address for the service 'sparkDriver' (for example spark.driver.bindAddress for SparkDriver) to the correct binding address```

In [4]:
conf = pyspark.SparkConf().set('spark.driver.host','localhost')

In [5]:
# Import PySpark and create a SparkSession
from pyspark.sql import SparkSession

#spark = SparkSession.builder.appName("ImportData").getOrCreate()

spark = SparkSession.builder \
    .appName("ImportData") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()

In [6]:
spark

# Comandos jupyter notebook


* a = above abre célula acima
* b = bellow abre célula abaixo
* dd = apaga célula
* x corta célula
* v cola célula
* m modo markdown
* y modo código

# Markdown

* \# Titulo 1
* \## Titulo 2
* \* unnumbered bullet
* \1. numbered bullet

1. Item
2. Item
3. Item

[Nome texto)(hiperligação)

# Descarregar ficheiro que está no moodle

* sxp500 e gravar no local onde está no notebook
* para confirmar podem inserir o comando numa célula !pwd

In [7]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
import pandas as pd

df_exemplo=pd.read_csv("./data/spx500.csv")

In [9]:
type(df_exemplo)

pandas.core.frame.DataFrame

In [10]:
df_exemplo.describe()

,Unnamed: 0,open,high,low,close,adj_close,volume
count,1229.000000,1229.000000,1229.000000,1229.000000,1229.000000,1229.000000,1.229000e+03
mean,614.000000,3437.767981,3458.883555,3414.612938,3437.854352,3437.854352,4.235175e+09
std,354.926049,672.382944,675.864967,668.834080,672.511442,672.511442,1.083341e+09
min,0.000000,2290.709961,2300.729980,2191.860107,2237.399902,2237.399902,1.296530e+09
25%,307.000000,2836.699951,2852.419922,2820.429932,2839.250000,2839.250000,3.523520e+09
50%,614.000000,3240.090088,3259.810059,3227.199951,3246.219971,3246.219971,3.996900e+09
75%,921.000000,4074.290039,4083.419922,4033.929932,4067.360107,4067.360107,4.687320e+09
max,1228.000000,4804.509766,4818.620117,4780.040039,4796.560059,4796.560059,9.976520e+09

In [11]:
df_exemplo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229 entries, 0 to 1228
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1229 non-null   int64
 1   date        1229 non-null   object
 2   open        1229 non-null   float64
 3   high        1229 non-null   float64
 4   low         1229 non-null   float64
 5   close       1229 non-null   float64
 6   adj_close   1229 non-null   float64
 7   volume      1229 non-null   int64
 8   symbol      1229 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 86.5+ KB

In [12]:
# Read a CSV file and create a DataFrame
df_spx=spark.read.option("header","true").csv('./data/spx500.csv',inferSchema=True)

In [13]:
type(df_spx)

pyspark.sql.dataframe.DataFrame

In [14]:
df_spx.toPandas().head()

,_c0,date,open,high,low,close,adj_close,volume,symbol
0,0,2018-01-02,2683.729980,2695.889893,2682.360107,2695.810059,2695.810059,3397430000,^GSPC
1,1,2018-01-03,2697.850098,2714.370117,2697.770020,2713.060059,2713.060059,3544030000,^GSPC
2,2,2018-01-04,2719.310059,2729.290039,2719.070068,2723.989990,2723.989990,3697340000,^GSPC
3,3,2018-01-05,2731.330078,2743.449951,2727.919922,2743.149902,2743.149902,3239280000,^GSPC
4,4,2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,^GSPC

In [15]:
type(df_spx.toPandas().head())

pandas.core.frame.DataFrame

In [16]:
df_spx.sample(fraction=0.1).toPandas().head()

,_c0,date,open,high,low,close,adj_close,volume,symbol
0,4,2018-01-08,2742.669922,2748.510010,2737.600098,2747.709961,2747.709961,3246160000,^GSPC
1,5,2018-01-09,2751.149902,2759.139893,2747.860107,2751.290039,2751.290039,3467460000,^GSPC
2,15,2018-01-24,2845.419922,2852.969971,2824.810059,2837.540039,2837.540039,4079270000,^GSPC
3,31,2018-02-15,2713.459961,2731.510010,2689.820068,2731.199951,2731.199951,3696140000,^GSPC
4,33,2018-02-20,2722.989990,2737.600098,2706.760010,2716.260010,2716.260010,3646920000,^GSPC

In [17]:
df_spx.show(5)

+---+----------+----------------+----------------+----------------+----------------+----------------+----------+------+
|_c0|      date|            open|            high|             low|           close|       adj_close|    volume|symbol|
+---+----------+----------------+----------------+----------------+----------------+----------------+----------+------+
|  0|2018-01-02|2683.72998046875|2695.88989257812|2682.36010742187|2695.81005859375|2695.81005859375|3397430000| ^GSPC|
|  1|2018-01-03|2697.85009765625| 2714.3701171875|2697.77001953125|2713.06005859375|2713.06005859375|3544030000| ^GSPC|
|  2|2018-01-04|2719.31005859375| 2729.2900390625|2719.07006835937|2723.98999023437|2723.98999023437|3697340000| ^GSPC|
|  3|2018-01-05|  2731.330078125|2743.44995117187|  2727.919921875|2743.14990234375|2743.14990234375|3239280000| ^GSPC|
|  4|2018-01-08|  2742.669921875|2748.51000976563|2737.60009765625| 2747.7099609375| 2747.7099609375|3246160000| ^GSPC|
+---+----------+----------------+----------------+----------------+----------------+----------------+----------+------+
only showing top 5 rows

In [18]:
df_spx.tail(5)

[Row(_c0=1224, date=datetime.date(2022, 11, 10), open=3859.88989257812, high=3958.330078125, low=3859.88989257812, close=3956.3701171875, adj_close=3956.3701171875, volume=5781260000, symbol='^GSPC'),
 Row(_c0=1225, date=datetime.date(2022, 11, 11), open=3963.71997070313, high=4001.47998046875, low=3944.82006835938, close=3992.92993164062, adj_close=3992.92993164062, volume=5593310000, symbol='^GSPC'),
 Row(_c0=1226, date=datetime.date(2022, 11, 14), open=3977.96997070312, high=4008.96997070313, low=3956.39990234375, close=3957.25, adj_close=3957.25, volume=4561930000, symbol='^GSPC'),
 Row(_c0=1227, date=datetime.date(2022, 11, 15), open=4006.40991210938, high=4028.84008789063, low=3953.169921875, close=3991.72998046875, adj_close=3991.72998046875, volume=5015310000, symbol='^GSPC'),
 Row(_c0=1228, date=datetime.date(2022, 11, 16), open=3976.82006835938, high=3983.09008789062, low=3954.34008789063, close=3958.7900390625, adj_close=3958.7900390625, volume=2377496000, symbol='^GSPC')]

In [19]:
type(df_spx)

pyspark.sql.dataframe.DataFrame

In [20]:
# Show the first 10 rows of the DataFrame
df_spx[['date','close']].show()

+----------+----------------+
|      date|           close|
+----------+----------------+
|2018-01-02|2695.81005859375|
|2018-01-03|2713.06005859375|
|2018-01-04|2723.98999023437|
|2018-01-05|2743.14990234375|
|2018-01-08| 2747.7099609375|
|2018-01-09| 2751.2900390625|
|2018-01-10|2748.22998046875|
|2018-01-11|2767.56005859375|
|2018-01-12|2786.23999023437|
|2018-01-16|  2776.419921875|
|2018-01-17|2802.56005859375|
|2018-01-18|2798.03002929687|
|2018-01-19|2810.30004882812|
|2018-01-22|2832.96997070312|
|2018-01-23| 2839.1298828125|
|2018-01-24| 2837.5400390625|
|2018-01-25|         2839.25|
|2018-01-26| 2872.8701171875|
|2018-01-29|2853.53002929687|
|2018-01-30|2822.42993164063|
+----------+----------------+
only showing top 20 rows

In [21]:
df_spx.take(4)

[Row(_c0=0, date=datetime.date(2018, 1, 2), open=2683.72998046875, high=2695.88989257812, low=2682.36010742187, close=2695.81005859375, adj_close=2695.81005859375, volume=3397430000, symbol='^GSPC'),
 Row(_c0=1, date=datetime.date(2018, 1, 3), open=2697.85009765625, high=2714.3701171875, low=2697.77001953125, close=2713.06005859375, adj_close=2713.06005859375, volume=3544030000, symbol='^GSPC'),
 Row(_c0=2, date=datetime.date(2018, 1, 4), open=2719.31005859375, high=2729.2900390625, low=2719.07006835937, close=2723.98999023437, adj_close=2723.98999023437, volume=3697340000, symbol='^GSPC'),
 Row(_c0=3, date=datetime.date(2018, 1, 5), open=2731.330078125, high=2743.44995117187, low=2727.919921875, close=2743.14990234375, adj_close=2743.14990234375, volume=3239280000, symbol='^GSPC')]

In [22]:
df_spx.describe().toPandas()

,summary,_c0,open,high,low,close,adj_close,volume,symbol
0,count,1229,1229,1229,1229,1229,1229,1229,1229
1,mean,614.0,3437.767980589529,3458.883554655716,3414.612937585817,3437.854352338029,3437.854352338029,4.235175114727421E9,None
2,stddev,354.9260486354869,672.3829441726768,675.8649665978218,668.8340795160047,672.5114423670053,672.5114423670053,1.0833411150490143E9,None
3,min,0,2290.7099609375,2300.72998046875,2191.86010742187,2237.39990234375,2237.39990234375,1296530000,^GSPC
4,max,1228,4804.509765625,4818.6201171875,4780.0400390625,4796.56005859375,4796.56005859375,9976520000,^GSPC

In [23]:
df_spx.take(1)

[Row(_c0=0, date=datetime.date(2018, 1, 2), open=2683.72998046875, high=2695.88989257812, low=2682.36010742187, close=2695.81005859375, adj_close=2695.81005859375, volume=3397430000, symbol='^GSPC')]

In [24]:
df_spx.explain()

== Physical Plan ==
FileScan csv [_c0#17,date#18,open#19,high#20,low#21,close#22,adj_close#23,volume#24L,symbol#25] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/g:/My Drive/mestrados/big_data/exemplos/data/spx500.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<_c0:int,date:date,open:double,high:double,low:double,close:double,adj_close:double,volume:...

# Exemplo com pyspark.pandas

Advantages of pyspark.pandas over pandas:

* Scalability: The biggest advantage is its ability to handle datasets that are far too large to fit into the memory of a single machine. pyspark.pandas leverages the power of Apache Spark to distribute data and computations across a cluster of machines, enabling processing of massive datasets that would overwhelm pandas.
* Distributed Computing: By distributing workloads, pyspark.pandas can often achieve significantly faster processing times than pandas on large datasets. This is especially beneficial for tasks like complex aggregations, joins, or machine learning algorithms.
* Integration with Spark Ecosystem: pyspark.pandas seamlessly integrates with other components of the Spark ecosystem, such as Spark SQL for querying structured data, Spark Streaming for real-time processing, and MLlib for machine learning. This makes it easier to build end-to-end big data pipelines.
* Familiarity: The API of pyspark.pandas is intentionally designed to be very similar to pandas, making it easier for data scientists familiar with pandas to transition to big data analysis.
* pyspark.pandas: The preferred choice for large-scale datasets that exceed the memory capacity of a single machine. It provides scalability, distributed computing capabilities, and integration with the broader Spark ecosystem.

In [25]:
import pyspark.pandas as ps

df_spx_pandas = ps.DataFrame(df_spx)

c:\Users\sobre\anaconda3\envs\bigdata\Lib\site-packages\pyspark\pandas\__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(

In [26]:
df_spx_pandas.head()

   _c0        date         open         high          low        close    adj_close      volume symbol
0    0  2018-01-02  2683.729980  2695.889893  2682.360107  2695.810059  2695.810059  3397430000  ^GSPC
1    1  2018-01-03  2697.850098  2714.370117  2697.770020  2713.060059  2713.060059  3544030000  ^GSPC
2    2  2018-01-04  2719.310059  2729.290039  2719.070068  2723.989990  2723.989990  3697340000  ^GSPC
3    3  2018-01-05  2731.330078  2743.449951  2727.919922  2743.149902  2743.149902  3239280000  ^GSPC
4    4  2018-01-08  2742.669922  2748.510010  2737.600098  2747.709961  2747.709961  3246160000  ^GSPC

In [27]:
df_spx_pandas.describe()

               _c0         open         high          low        close    adj_close        volume
count  1229.000000  1229.000000  1229.000000  1229.000000  1229.000000  1229.000000  1.229000e+03
mean    614.000000  3437.767981  3458.883555  3414.612938  3437.854352  3437.854352  4.235175e+09
std     354.926049   672.382944   675.864967   668.834080   672.511442   672.511442  1.083341e+09
min       0.000000  2290.709961  2300.729980  2191.860107  2237.399902  2237.399902  1.296530e+09
25%     307.000000  2836.699951  2852.419922  2820.429932  2839.250000  2839.250000  3.523520e+09
50%     614.000000  3240.090088  3259.810059  3227.199951  3246.219971  3246.219971  3.996900e+09
75%     921.000000  4074.290039  4083.419922  4033.929932  4067.360107  4067.360107  4.687320e+09
max    1228.000000  4804.509766  4818.620117  4780.040039  4796.560059  4796.560059  9.976520e+09

In [31]:
df_spx_pandas.dtypes

_c0            int32
date          object
open         float64
high         float64
low          float64
close        float64
adj_close    float64
volume         int64
symbol        object
dtype: object

# Vamos criar uma vista temporária para os dados para pudermos utilizar num comando SQL

In [ ]:
df_spx.createOrReplaceTempView("xico")

# Vamos confirmar as vistas criadas

In [ ]:
spark.catalog.listTables()

In [ ]:
sql = spark.sql(""" SELECT * FROM xico where close > 4700""")

In [ ]:
sql.show()

# Adicionar uma coluna ao dataframe

Vamos calcular a moving average 7 dias

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, avg

window = Window.partitionBy('symbol').orderBy(col('_c0')).rowsBetween(-7,0)
df_spx = df_spx.withColumn('ma7',avg('close').over(window))

In [ ]:
df_spx.show()

```
partitionBy = controla as linhas que ficam na mesma partição. Se estivermos num ambiente distribuido é importante que por exemplo os mesmos symbols sejam processados na mesmo equipamento. 
```

# Vamos fazer o drop de uma coluna

Para tornar a alteração assigna-se novamente ao Spark Dataframe. No pandas temos inplace=True

In [ ]:
df_spx.drop('ma7').show()

# Mudar o nome a uma coluna

In [ ]:
df_spx.withColumnRenamed('ma7','moving_average_7').show()

In [ ]:
df_spx = df_spx.withColumnRenamed('ma7','moving_average_7')

In [ ]:
df_spx.show()

In [ ]:
# Stop the SparkSession
spark.stop()